@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
nav {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px black;
  box-shadow: 3px 4px 17px 0px #0000008c;
  height: 10%;
  width: 100%;
  background-color: #037171;
  z-index: 10;
  align-items: center;
}
nav h2 {
  border-radius: 10px;
  margin-left: 35%;
  margin-top: 10px;
  width: 20%;
  border: solid 2px white;
  color: white;
  height: 80%;
  font-size: 1.5rem;
  font-family: "Secular One", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}
#side-button {
  border-radius: 5px;
  border: solid 2px white;
  background-color: transparent;
  height: 100%;
  width: 100%;
}
#side-button:active,
#side-button:focus {
  border-color: gray;
}

#side-button img {
  height: 80%;
  width: 80%;
}

.side {
  background: transparent;
  margin-left: 1%;
  height: 50px;
  width: 50px;
}

aside:target {
  width: 16%;
}
