@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
nav {
  display: flex;
  flex-direction: row;
  height: 10%;
  width: 100%;
  align-items: center;
}
nav h2 {
  border-radius: 10px;
  margin-top: 10px;
  height: 80%;
  width: 40%;
  font-size: 1.5rem;
  font-family: "Secular One", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.present-date {
  width: 150px;
  display: flex;
  width: 30%;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) and (min-width: 300px) {
  nav {
    margin-top: 20px;
    flex-direction: column;
    height: 20%;
    justify-content: center;
    align-items: center;
  }
  nav h2 {
    align-items: center;
    margin: 0px;
    width: 100%;
  }
  .present-date {
    width: 100%;
  }
}
