.habit-container {
  height: 200px;
  margin-top: 20px;
  width: 100%;
  background: white;
  border: none;
  box-shadow: 2px 4px 7px 0px #80808036;
}

.week {
  margin-top: 10px;
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.date {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.status {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.title {
  text-transform: capitalize;
  height: 100%;
  width: 10%;
  justify-content: center;
  display: flex;
  margin-left: 20px;
  align-items: center;
}

.col-container {
  list-style-type: none;
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col-container li {
  position: relative;

  height: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-container li img {
  height: 30%;
  width: 30%;
}

.col-container li:nth-child(7) {
  background-color: rgba(255, 255, 0, 0.477);
}

.toggle-btn {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: transparent;
  border: none;
}
@media screen and (max-width: 900px) and (min-width: 300px) {
  .tasks-container {
    align-items: flex-start;
  }
  .title {
    font-size: 15px;
  }
  .habit-container {
    height: 200px;
    margin-top: 20px;
    width: 1200px;
    background: white;
    border: none;
    box-shadow: 2px 4px 7px 0px #80808036;
  }
  .col-container {
    overflow-x: scroll;
  }
  .habit-container::-webkit-scrollbar {
    visibility: hidden;
  }
}
